@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #064e3b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669;
}

/* Transición suave para el modo claro/oscuro */
header,
footer {
  transition: background-color 0.3s ease, color 0.3s ease;
}